form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qr-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #333333;
    border-radius: 4px;
    background-color: #d8d8d8;
}