
  <form [formGroup]="formQr" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <label for="name">Nombre:</label>
      <input id="name" formControlName="name">
    </div>

    <div class="form-row">
      <label for="email">Email:</label>
      <input id="email" formControlName="email">
    </div>

    <div class="form-row">
      <label for="text"> Texto o Link</label>
      <input type="text" id="text" formControlName="text">
    </div>
    <button class="button" type="submit" [disabled]="formQr.invalid">Generar</button>
  </form>

  @if (qrValue) {
    <div>
      <div class="qr-container">
        <qrcode [qrdata]="qrValue" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
      </div>
      <button class="button" (click)="onDownload()"> Descargar </button>
    </div>
  }
 
  
